@media (max-width:800px) {
    .float-btn {
        display: flex;
    }
    .btn-login {
        width: 50%;
        margin-bottom: 10px;
    }
    .btn-register{
        width: 50%;
        margin-bottom: 10px;
    }

    .work-item::before {
      display: none;
    }

    .work-item.last::before {
        display: none;
      }

      .get-started {
        min-height: 350px;  
    }

    .certificate-area.contact {
        min-height: 700px;
    }

}

@media (max-width:480px) {
    .crypto-footer {
        text-align: center;
    }

    .footer-text {
        line-height: 1em !important;
        font-size: 15px;
    }

    .first {
        margin-top: 20px;
    }

    .certificate-area.contact {
        min-height: 1050px !important;
    }

    .banner-area {
        padding-top: 170px;
    }
}